## TEAM JUDIO
##### Formado por: Natalie, Nacho, Rafa y Alfonso

# Dataframe con los 14 picos de más de 8000 metros de altura, con su nombre, altura y localización.

# Dataframe con los 10 libros más vendidos, con el nombre, autor y publicación.

# Dataframe con los 10 libros más vendidos de la historia, con título, desarrollador y fecha de lanzamiento.

# Dataframe con los anillos de la NBA que tiene cada equipo, con nombre, número de campeonatos y años campeón.